.chat-container{
     max-height: 50vh !important;
}

.messages{
     max-height: 45vh !important;
     overflow-y: scroll;
}

.texts{
     padding: 10px !important;
}

.msgs{
	width: 20vw;
	height: 10vh !important;
}

input[type="text"]{
	padding: 2vw;
	margin-bottom: 5px !important;
}

.send-msg{
	margin: 20px 10px 10px 3px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
	background-color: white !important;
}

.send-tool{
	position: fixed;
	bottom:0;
	margin: 10px;
}

@media screen and (max-width: 600px){
	.msgs{
		width: 80vw;
		height: 10vh !important;
	}
	
	input[type="text"]{
		padding: 10vw;
	}
 }