@import "~bootstrap/scss/bootstrap.scss";

// Root Values
:root {
	// Colours
	--darkGrey: rgb(92, 92, 92);
}

// Login/Register form
.form-container {
	background-color: white;
	width: 40em;
	margin-top: 4em;
	padding: 2em;
	border-radius: 6px;
	padding-left: 2em;
}

.form-title {
	color: var(--darkGrey);
}

.mb-3 {
	color: var(--darkGrey);
}

// Body
.container {
	// margin-right:0;
	// margin-left:0;
	// padding-left: 0px;
	// margin: 2px
}

// Add Location Button
.modal-container {
	display: grid;
	grid-column: auto;
	justify-content: center;
	padding: auto;
	padding-left: 20em;
}
.add-location-btn {
	padding: 0.5em 1em 0.5em 1em;
	background-color: var(--clr-white);
	color: var(--clr-lightBlue);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: var(--fs-14);
	margin-right: 0em;
	justify-self: center;
}
.add-location-btn:hover {
	background-color: var(--clr-lightBlue);
}

// Modal
.modal-content {
	border: none;
	color: var(--darkGrey);
}
.modal-add-btn {
	background-color: var(--clr-lightBlue);
	border: none;
}
.modal-close-btn {
	background-color: var(--darkGrey);
	color: var(--clr-white);
}
